EXPO_PUBLIC_API_URL=http://192.168.1.2:4000
EXPO_PUBLIC_ANDROID_PACKAGE=com.vajrita.app
EXPO_PUBLIC_EAS_PROJECT_ID=ee7fea0c-ba7c-4682-9e1e-ce9cd003bc75
GOOGLE_SERVICES_JSON=./google-services.json
EXPO_PUBLIC_FIREBASE_TEST_PHONE=+919999999999
EXPO_PUBLIC_FIREBASE_TEST_CODE=123456
EXPO_PUBLIC_FIREBASE_DISABLE_APP_VERIFICATION=true
